@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --item-gap: 1rem;
    --item-gap1: calc(var(--item-gap)*1.75);

    --sidebar-background: #9CA3AF;
    --sidebar-fontsize: 1.1rem;
    --sidebar-dashboardsize: calc(var(--sidebar-fontsize)*1.5);
    --sidebar--fontcolor: #ffffff;
    
    --header-background: #F9FAFB;
    --searchbar-background: #E5E7EB;
    --header-greetingsize: 1.5rem;

    --profilepic-width: 2.5em;
    --hover-color: #6B7280;

    --transition-time: 0.5s;
}

body {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}


.sidebar {
    padding: var(--item-gap);
    height: 100%;
    grid-row: 1/3;
    display: grid;
    background-color: var(--sidebar-background);
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: calc(var(--item-gap)*1.5);
    font-weight: 700;
    color: var(--sidebar--fontcolor);
}

.sidebar img {
    width: 1.5em;
    height: 1.5em;
}

.sidebar-tab {
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    align-items: center;
}

.sidebar-tab.dashboard {
    gap: var(--item-gap);
    font-size: var(--sidebar-dashboardsize);
    margin-bottom: calc(var(--item-gap)*2);
}

.sidebar-tab:not(.dashboard) {
    font-size: var(--sidebar-fontsize);
    gap: var(--item-gap1);
    padding-left: calc(var(--item-gap)*0.75);
    transition-duration: var(--transition-time);
    border-radius: 0.4rem;
}

.sidebar-tab:not(.dashboard):hover {
    background-color: var(--hover-color);
    cursor: pointer;
    border-radius: 1rem;
}

.sidebar-tab.tab {
    margin-bottom: calc(var(--item-gap)*2);
}

.sidebar-tab.dashboard img{
    font-size: 2rem;
}


.header {
    background-color: var(--header-background);
    white-space: nowrap;
    padding: var(--item-gap) var(--item-gap1);
    padding-right: calc(var(--item-gap1)*2);

    display: grid;
    grid-template-columns: 1fr repeat(4, min-content);
    height: fit-content;
    align-items: center;
    column-gap: var(--item-gap1);
    row-gap: var(--item-gap1);
}

.search-label {
    display: flex;
    gap: var(--item-gap);
}

.search-label input {
    border: none;
    width: 100%;
    height: 2em;
    border-radius: 10px;
    box-shadow: none;
    background-color: var(--searchbar-background);
}

.header {
    font-weight: 700;
}

.header > .tab {
    width: 5rem;
}

.header .user-name {
    padding-right: var(--item-gap);
}

.header-buttons {
    width: fit-content;
    grid-column: 2/6;
}

.header img {
    width: 1.2rem;
    height: auto;
}

.header .profilepic {
    width: var(--profilepic-width);
    height: auto;
    border-radius: 100%;
}

.header .greeting {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: var(--item-gap);
    row-gap: 0.4em;
    font-size: 0.8rem;
    align-items: center;
    align-items: flex-end;
}

.greeting > .profilepic {
    font-size: var(--header-greetingsize);
    grid-row: 1/3;
}

.greeting > .greeting-user-name {
    align-self: flex-start;
    font-size: var(--header-greetingsize);
}

.header .header-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .header-buttons button {
    border: none;
    box-sizing: border-box;
    width: 6.8em;
    height: 3em;
    border-radius: 1.7em;
    background-color: var(--sidebar-background);
    color: var(--sidebar--fontcolor);
    font-weight: 700;
    transition-duration: var(--transition-time);
}


.header .header-buttons button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    border-radius: 1rem;
}
